*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #e0e0e0;
  margin-bottom: 10px;
  padding: 16px;
  border-radius: 4px;
  cursor: grab;
  transition: background 0.2s;
  display: flex;
  gap: 10px;
  align-items: center;
}

li:hover {
  background: #d6d6d6;
}

.input{
  width: 100%;
  padding: 10px;
}
.checkbox{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
